* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

button {
  cursor: pointer;
}

fieldset {
  border: 1px solid #000;
  border-radius: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  & > .wrapper {
    width: 95%;
    height: 95%;
    display: flex;
    gap: 20px;

    & > .config-container {
      &.opened {
        max-height: 100%;
        max-width: 100%;
      }

      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
      transition: max-width 1.2s, max-height 1.2s;
      overflow: hidden;
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #000;

      position: absolute;
      z-index: 10000;
      top: 20px;
      left: 20px;

      max-height: 45px;
      max-width: 78px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      & > #save {
        width: 100%;
        height: 30px;
        font-size: 20px;
        background: #585858;
        color: #fff;
      }

      & > .config-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > h3 {
          cursor: pointer;
        }

        & > .nodes {
          max-height: 300px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px 5px 5px;

          overflow: auto;

          & > .nodes-list {
            display: flex;
            flex-direction: column;
            gap: 3px;
            position: relative;

            & > .nodes-list-header {
              width: 300px;
              display: grid;
              grid-template-columns: 0.5fr 2.5fr 0.5fr 1fr;
              margin-right: 50px;
            }

            & > .node-item {
              display: flex;
              align-items: center;
              justify-content: space-between;

              & > .node-data {
                width: 300px;
                display: grid;
                grid-template-columns: 0.5fr 2.5fr 0.5fr 1fr;
              }

              & > button {
                padding: 5px 10px;
                border: 1px solid #000;
              }
            }
          }

          & > .node-input-container {
            position: sticky;
            bottom: -5px;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 20px;
            background: #fff;
            height: 50px;

            & > #add-node {
              width: 120px;
              border-radius: 5px;
              border: 1px solid #000;
              height: 30px;
            }

            & > .node-input {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              gap: 10px;

              & > input {
                height: 100%;
                flex: 1;
                border-radius: 5px;
                border: 1px solid #000;
                padding-left: 5px;

                &:last-of-type {
                  width: 100px;
                }
              }
            }
          }
        }

        & > #open-modal {
          width: 100%;
          padding: 5px 0;
          font-size: 20px;
          background: #585858;
          color: #fff;
        }

        & > .path {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px 5px 5px;

          & > button {
            height: 20px;
            border: 1px solid #000;
          }

          & > .path-log {
            text-align: center;
          }

          & > .path-input {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 0 10px;

            & > input {
              border: 1px solid #000;
              padding-left: 5px;
              height: 20px;
            }
          }
        }
      }
    }

    .canvas-container {
      width: 100%;
      height: 100%;

      & > #canvas {
        border: 2px solid #000;

        &.hover {
          cursor: grab;
          &:active {
            cursor: grabbing;
          }
        }
      }
    }
  }

  & > .modal {
    margin: auto;
    padding: 100px 50px;
    position: relative;
    border-radius: 50px;

    & > .modal-content {
      width: 100%;
      height: 100%;

      & > #close-modal {
        position: absolute;
        top: 20px;
        right: 20px;

        padding: 10px;
        border-radius: 5px;
      }

      & > #edges {
        border-collapse: collapse;
        border: 1px solid #000;

        & th,
        & td {
          width: 50px;
          text-align: start;
          border: 1px solid #000;
          color: #fff;
          padding: 0 5px;

          &:has(input:disabled) {
            background-color: #d9d9d9;
          }
        }

        & input {
          width: 50px;

          &:disabled {
            background-color: #d9d9d9;
            color: #d9d9d9;
          }
        }

        & th {
          background: #585858;
        }
      }
    }
  }
}
